// scss全局变量

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景色
$base-menu-bg-color: #001529;
// 顶部导航栏高度
$base-top-height: 50px;
// 主体区内边距
$main-area-padding: 20px;
// logo区高度
$base-logo-height: 50px;
// logo图片宽度
$base-logo-img-width: 40px;
// logo图片高度
$base-logo-img-height: 40px;
// logo文字大小
$base-logo-title-size: 20px;
// logo内边距
$base-logo-padding: 20px;
